<div *ngIf="task">
  <div class="task-list-header">
    <nav class="navbar">
        <h4>Коментарі до :{{task.title}}</h4>
    </nav>
  </div>

  <div class="container">
    <div class="panel">
          <div class="panel-heading">
            Comments ({{comments.length}})
          </div>
          <div class="form-block">
            <form id="contact-form" [formGroup]="checkoutForm" (ngSubmit)="handleCreate(checkoutForm.value)" role="form">
              <div class="controls">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea id="form_message" class="form-control"   [(ngModel)]="inputDescription" formControlName="description" class="form-control" placeholder="write a comment...*" rows="4"  data-error="Залиште повідомлення."></textarea>
                      <div class="help-block with-errors">
                        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger" style="width: 100%">
                          <div *ngIf="description.errors.required">
                            Address is required.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 text-right">
                    <button type="button " class="btn btn-info pull-right">Post</button>

                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="comments__block">
              <ul class="comments" *ngIf="comments">
                <li class="comment-block" *ngFor="let commment of comments">
                  <img src="https://bootdey.com/img/Content/user_1.jpg" class="avatar" alt="">
                  <div class="post-comments">
                    <p class="header-info">
                      <strong class="text-success">Some@some.com{{commment.userId}}</strong>

                      <i class="pull-right text-right">Created: {{commment.createdDate}} Updated: {{commment.updatedDate}}</i>
                    </p>
                    <p>
                      {{commment.description}}
                    </p>
                  </div>
                </li>
              </ul>

          </div>
    </div>
  </div>
</div>
